CONFIG_SND_SOC_ES8388=y
CONFIG_SOUND=y
CONFIG_SND=y
CONFIG_ARCH_STM32=y
CONFIG_OF=y
CONFIG_COMMON_CLK=y
CONFIG_SND_SOC=y
CONFIG_SND_SOC_STM32_SAI=y
CONFIG_SND_SOC_STM32_I2S=y
CONFIG_SND_SOC_STM32_SPDIFRX=y
CONFIG_STM32_MDF_ADC=y
CONFIG_SND_SOC_STM32_MDF=y
CONFIG_SND_SOC_DMIC=y
CONFIG_SND_SIMPLE_CARD_UTILS=y
CONFIG_SND_AUDIO_GRAPH_CARD=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_IIO_BACKEND=y
CONFIG_STM32_MDF_CORE=y
CONFIG_IIO_TRIGGERED_BUFFER=y
CONFIG_I2C_STM32F7=y